
body  
{  
    margin: 0;  
    padding: 0;  
    background-color:#61423C;
    font-family: 'Arial';  
}  
.login{  
        width: 300px;     
        margin: 8% 0 10% 32%; 
        padding: 40px;  
        background: #E05F48;  
        border-radius: 15px ;  
            
} h1{
  
    text-align:center ;  
    color: white;  
    padding: 20px;  
}  
label{  
    color: #08ffd1;  
    font-size: 17px;  
}  
#yourname{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;
    margin-bottom: 5%;  

}

#Passwd{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}  
#Logging{  
    width: 150px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 3px;  
    color: black;  
    margin: 10% 0 20% 0;
    
  
  
}  
span{  
    color: white;  
    font-size: 17px;  
}  

p{
    margin-top: -15%;

}
