body  
{  
    margin: 0;  
    padding: 0;  
    background-color:#6abadeba;  
    font-family: 'Arial';  
}  
.login{  
        width: 382px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 80px;  
        background: #03a383;  
        border-radius: 15px ;  
          
}  
h2{  
    text-align: center;  
    color: #277582;  
    padding: 20px;  
}  
label{  
    color: #08ffd1;  
    font-size: 17px;  
}  
#names{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 16px;  
}  
#Pass{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 16px;  
      
}  
#logging{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: blue;  
  
  
}
a{  
    float: right;  
    background-color: grey;  
}
.signup{  
    width: 382px;  
    overflow: hidden;  
    margin: auto;  
    margin: 20 0 0 450px;  
    padding: 80px;  
    background: #03a383;  
    border-radius: 15px ;  
      
}  
h1{  
text-align: center;  
color: #277582;  
padding: 20px;  
}  
label{  
color: #08ffd1;  
font-size: 17px;  
}  
#names{  
width: 300px;  
height: 30px;  
border: none;  
border-radius: 3px;  
margin-left: 50px;
padding-left: 16px;
}  
#Pass{  
width: 300px;  
height: 30px;  
border: none;  
border-radius: 3px;  
margin-left: 50px; 
padding-left: 16px;
  
} 

#mailing{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 16px;
}
button{  
width: 300px;  
height: 30px;  
border: none;  
border-radius: 17px;  
padding-left: 7px;  
color: blue;  
float:right;

}

